*{
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.window-scroll{
  background: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
}

body{
  color: #000000;
  background: #ffffff;
  line-height: 1.7;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  line-height: 1.7;
}
img{
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  width: 2rem;
}
nav{
display: grid;
grid-template-columns: 1fr 1fr;
}
 nav .avatar, nav .twitter{
 
  top: 1rem;
  left: 1rem;
  border-bottom: 1rem;

 }

 .avatar, .twitter{
  padding: 1.5rem;
 }

 .container{
  display: grid;
  grid-template-columns: 10% 90%;
  gap:.5rem;
 }

 .container section img{
  width: 4rem;
  border-radius: 50%;
  top: 1.5rem;
  margin-left: 1rem;
 }

 video{
  width: 100%;
 }
 

 .title__description{
  margin-bottom: 3rem;
  line-height: 1.2;
  width: 50%;
 }
 .title__description p{
  margin-top: .5rem;
  margin-bottom: 2rem;
 }
 small{
  color: rgb(211, 208, 208);
  font-size: small;
 }

 .title__description ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
 }

.logo__img{
  background: cornsilk;
  width: 2rem;
  opacity: 0.2;
 }
 .each{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  align-items: center;
 }
.ribbon{
  margin-left: 2rem;
}
 
footer{
  position: fixed;
  left: 0;
  bottom: 0;
}

.footer__container img{
 color: #fff;
}

.footer__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 1rem 0;
  background: #fff;
  height: auto;
}

.rib{
  margin-right: 1rem;
}

.seperate{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 4rem 4rem 3rem;
}


